.top-panel
  .start
    %strong Start:
    %input#start
  .end
    %strong End:
    %input#end
  .poi
    %strong Point of Interest:
    %input#poi
  .deviation
    %strong Max Deviation (in m):
    %input#deviation
  .travelMode
    %strong Transit Mode:
    %select#travelMode
      %option{:value => "WALKING"} Walking
      %option{:value => "BICYCLING"} Bicycling
      %option{:value => "TRANSIT"} Transit
      %option{:value => "DRIVING"} Driving
  .go
    %button{:onclick => "showPOIs();"} Go!
  %img{:src => image_path('smell_the_roses.png')}
#map_canvas