// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
.top-panel { padding: 10px; }
input { position: absolute; left: 150px; width: 200px; height: 20px; }
select { position: absolute; left: 150px; width: 205px; height: 28px; }
.start, .end, .poi, .deviation, .travelMode { margin-bottom: 20px; }
img { position: absolute; top: 5px; right: 5px; height: 215px; }
#map_canvas { width: 99%; height: 580px; margin: 0 auto 0 auto; }